body { 
background-color: #5c3059;
  font-family: 'Candara', sans-serif;
  color: white;
}
nav {
 background-color: grey; 
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  z-index: 1;
}
nav ul li {
  float: right;
  margin-right: 50px;
  list-style-type: none;
  text-align: center;
}
#brand {
  float: left;  
}
.nav-link{
  color: white;
  text-decoration: none;
  font-family: 'Candara', sans-serif;
}
.nav-link:hover{
  color: #5c3059;
  font-weight: bold;
 
}
#brand .nav-link {
  color: #5c3059;
  font-size" 14pt;
  }
#brand .nav-link:hover {
  color: white;
}
h1 {
  font-size: 60pt;
  font-family: 'Candara', sans-serif;
  color: white;
}
#home {
  margin-top: 50px;
  position: relative;
  left: -8px;
  width: 100vw;
  height: 30vh;
  padding-top: 3em;
  background: url('https://external-preview.redd.it/QaXFhWnMM12Byyc6tKQOO6_gQKkzAEgGEtLKVO-gMcA.jpg?auto=webp&s=8d59b430416d49fa26c77549d68d19dd35624303') center 75% no-repeat fixed;
  background-size: cover;
}
.header-tag {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

h3.header-tag{
  margin-top: -30px;
  font-size: 18pt;
}
h2 {
  font-family: 'Candara', sans-serif;
  color: white;
}
.main {
  text-align: center;

}
#about {
  margin-top: 50px;
  display: inline-block;
}
#about-picture {
  width: 30vw;
  float: left;
}

#profile-pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 2px black;

}
#about-content {
  width: 40vw;
  float: right;
}